.main-container{
    display: flex;
    border: 1px solid black;
    box-shadow: 1px 1px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    height: 470px;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
}

.form-container{
    display: flex;
    justify-content: center;
    height: 400px;
    margin: auto;
}

.form{
    display: inline-block;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.title{
    display: block;
    font-size: 27px;
    opacity: 0.87;
}

#result-price{
    /* display: block; */
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 18px;
}

.MuiInputBase-root{
    margin-right: 10px;
    margin-left: 10px;
}

   
   @media(max-width:420px){
    body{
        margin: 7px !important;
    }
     .main-container{
        height: auto !important;
        margin: auto 4px;
        padding: 10px;
     }
     .form-container{
        height: auto !important;
     }
    .title{
        margin-bottom: 8px !important;
     }
     .input-field{
        width: 314px;
     }
   }
   @media(max-width:560px){
     .main-container{
        padding: 10px !important;
     }
   }
   @media(max-width:280px){
     .container .title{
       font-size: 18px !important;
       height: 82px !important;
   }
   }

